body {
  background-color: #4f5d7d;

  font-family: 'vazir', 'tahoma', 'ubuntu' !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
input[type='text']::-webkit-input-placeholder,
input[type='email']::-webkit-input-placeholder,
input[type='number']::-webkit-input-placeholder {
  color: #f8f8f4 !important;
  background-color: #4f5d7d !important;
  border-color: #bd93f9 !important;
}
input[type='text'],
input[type='email'],
input[type='number'] {
  color: #f8f8f4 !important;
  background-color:#4f5d7d !important;
  border-color: #bd93f9 !important;
}
.form-control{
  background-color: #4f5d7d !important;
  border-color:  #bd93f9 !important;
}

